{
  "title": "<%= data.title.replace(/[^\w\s]/gi, '').replace(/(\r\n|\n|\r)/gm,"") %> %>",
  "image": "<%= data.image %>",
  "LanguageCode": "id",
  "future": True
  "PublishDate: "<%var justnow = new Date(Date.now()); var oneyearbefore = new Date(new Date().setMonth(new Date().getMonth() - 6)); var dt = randomDate(justnow, oneyearbefore, 9, 17);%><%=dt.toISOString()%>",
  "thumbnail": "<%= data.image %>",
  "cover": "<%= data.image %>",
  "categories": "<%= post.category %>",
  "recipecategory": "<%= post.category %>"
  "keywords": "<%= post.category %>",
  "nutrition": "<%=chance.integer({min:100,max:300})%> calories",
  "tag": ["indonesia", "launch"],
  "recipeyield": "<%= chance.integer({min: 1, max: 2}) %>"
  "description": "cara mudah membuat <%= data.title %>"
  "author": "<%= chance.name() %>",
  "preptime": "PT<%= chance.integer({min: 12, max: 40}) %>M",
  "cooktime": "PT<%= chance.integer({min: 1, max: 2}) %>H",
  "calories": "<%= chance.integer({min: 100, max: 300}) %> calories",
  "fatContent": "<%= chance.integer({min: 5, max: 15}) %> grams fat",
  "ratingValue": "<%= chance.floating({min: 3, max: 5, fixed: 1}) %>",
  "reviewCount": "<%= chance.integer({min: 3, max: 15}) %>", 
  "recipeIngredient": [
		<% data.ingredients.forEach(function(ingredient, index){ %>"<%= ingredient.quantity %> <%= ingredient.name.replace(/[^\w\s]/gi, '').replace(/(\r\n|\n|\r)/gm,"") %>"<%= (index < data.ingredients.length-1) ? ', ': ''  %>
		<% }); %>],
  "recipeInstructions": [ <% data.steps.forEach(function(step, index){ %>
        "<%= step.instruction.replace('"'/[^\w\s]/gi, '').replace(/(\r\n|\n|\r)/gm,"") %>"<%= (index < data.steps.length-1) ? ', ': ''  %><% }); %>]
}

